{{- define "main" }}

<div class = 'grid-inverse wrap content'>
  <article class='post_content'>
    <h1 class='post_title'>{{ .Title }}</h1>
    {{- with .Params.event_url }}
      <small>
        fonte: <a href="{{.}}">{{ . }}</a>
      </small>
      <br><br>
    {{ end }}
    {{- .Content }}
  </article>
  {{- partial "sidebar" . }}
</div>
{{- end }}
