<h2 class="mt-4">Próximos Eventos</h2>
<ul class="flex-column">
  {{ range first 10 (sort (where (where (where .Site.RegularPages "Type" "Event") "Date" "ge" (now.AddDate 0 0 -1) ) ".Params.hidden" "!=" true) "Date" "asc") }}
  <li>
    <a href="{{ .Permalink }}" class="nav-link">
      {{ .Date | time.Format  "(Mon) 2/01/2006"  }} - {{ .Title }}
    </a>
  </li>
  {{- end }}
</ul>